[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
mung = "*"
lxml = "*"
tqdm = "*"
muscima = "*"
music21 = "*"
omrdatasettools = "*"
google-cloud-storage = "*"
cloudml-hypertune = "==0.1.0.dev6"
matplotlib = "*"
sklearn = "*"
tensorflow = "*"
pycocotools = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
